body{
  width: auto;
  color: #ced2d6;
  overflow: hidden;
  font: 300 14px/22px "Lato", "Arial", "Helvetica", sans-serif;
}

header {
	background-color: rgba(1,1,1,0.5);
	padding: 50px;
}

.logo {
	display: block;
	float: left;
    background: url(https://i.imgur.com/COnmmjE.png?1) no-repeat;
    width: 320px;
    height: 151px;
    margin-top: -50px;
}

nav {
	float: right;
	width: inherit;
	margin: 0 auto;
	margin-top: 13px;
}

nav a {
  color: #868c91;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;

}

nav a:last-child {
	margin-right: 100px;
}

.active {
	text-decoration: underline;
}

.slides {
	clear: both;
	display: block;
	padding: 60px;
}

.info {
	display: block;
	padding: 60px;
}

footer {
	background-color: rgba(1,1,1,0.5);
	text-align: center;
	padding: 10px 0 0 0;
}

footer a {
	text-decoration: none;
	color: #a6a6a6;
	font-style: italic;
}