html {
	background: -webkit-radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%) no-repeat;
	background: -moz-radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%) no-repeat;
	background: -o-radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%) no-repeat;
	background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%) no-repeat;
}

body {
	color: #ced2d6;
    font: 300 14px/22px "Lato", "Arial", "Helvetica", sans-serif;
}

header {
	background-color: rgba(1,1,1,0.5);
	padding: 50px;
}

.logo {
	display: block;
	float: left;
    background: url(https://i.imgur.com/COnmmjE.png?1) no-repeat;
    width: 320px;
    height: 151px;
    margin-top: -50px;
}

nav {
	float: right;
	width: inherit;
	margin: 0 auto;
	margin-top: 13px;
}

nav a {
  color: #868c91;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  -webkit-transition:  .5s ease-in-out;
  -moz-transition:  .5s ease-in-out;
  -o-transition:  .5s ease-in-out;
  transition:  .5s ease-in-out;
}

nav a:last-child {
	margin-right: 100px;
}

nav a:hover {
	background-color: rgba(64, 64, 64,0.6);
	color: #ffa31a;
}
.active {
	background-color: rgba(64, 64, 64,0.6);
	color: #ffa31a;
}

.slides {
	clear: both;
	display: block;
	padding: 100px;
}

.info {
	display: block;
	padding: 100px;
}

footer {
	background-color: rgba(1,1,1,0.5);
	text-align: center;
	padding: 10px 0 0 0;
}

footer a {
	text-decoration: none;
	color: #ffa31a;
	font-style: italic;
}
