/*Styling the main HTML and body o the page*/
html {
	background: -moz-radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%) no-repeat;
	background: -o-radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%) no-repeat;
	background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%) no-repeat;
}

body {
	color: #ced2d6;
    font: 300 14px/22px "Helvetica", "Lato", "Arial",  sans-serif;
}

/*Styling header, navigation menu and the logo.*/
header {
	background-color: rgba(1,1,1,0.8);
	padding: 50px;
}

.logo img {
	display: block;
	float: left;
    background: no-repeat;
    width: 26%;
    padding-bottom: 2%;
    margin-top: -4%;
    cursor: default;
}

nav.main_nav {
	float: right;
	width: inherit;
	margin-top: 13px;
}

nav.main_nav a {
  color: #868c91;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 1.4em;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

nav.main_nav a:last-child {
	margin-right: 3em;
}

nav.main_nav a:hover, nav.main_nav a:focus {
	background-color: rgba(64, 64, 64,0.6);
	color: #ffa31a;
}
nav a.active {
	background-color: rgba(64, 64, 64,0.6);
	color: #ffa31a;
}

/*Styling the slides*/
div.slider {
	clear: both;
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	position: relative;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	background-color: transparent;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(255, 255, 255,0.5);
	-moz-box-shadow: 2px 2px 5px 2px rgba(255, 255, 255,0.5);
	-o-box-shadow: 2px 2px 5px 2px rgba(255, 255, 255,0.5);
	box-shadow: 2px 2px 5px 2px rgba(255, 255, 255,0.5);
	width: 90%;
	padding-bottom: 30%;
	overflow: hidden;
}

input.slider_buttons {
	display: none;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.slide img {
	width: inherit;
	height: inherit;
}

.prevslide span, .nextslide span {
	position: absolute;
	border: solid 20px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.prevslide span {
	border-color: transparent #fff transparent transparent;
	left: 0;
}

.nextslide span {
	border-color: transparent transparent transparent #fff;
	right: 0;
}

.prevslide span:hover, .prevslide span:active {
	border-color: transparent #ffa31a transparent transparent;
}

.nextslide span:hover, .nextslide span:active {
	border-color: transparent transparent transparent #ffa31a;
	right: 0;
}

.slider_nav {
	width: 100%;
	bottom: 5%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: pointer;
}

.slider_dots {
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 3px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #000;
	transition: .4s linear;
	cursor: pointer;
}

.slider_dots:hover {
	background-color: #ffa31a;
}

#img1:checked ~ #one, #img2:checked ~ #two, #img3:checked ~ #three {
	z-index: 9;
	-webkit-animation: change 1s linear;
	-moz-animation: change 1s linear;
	-o-animation: change 1s linear;
	animation: change 1s linear;
}

#img1:checked ~ .slider_nav #dot1, #img2:checked ~ .slider_nav #dot2, #img3:checked ~ .slider_nav #dot3 {
	background-color: #fff;
}


@keyframes change {
	0%{ opacity: .4%; }
	100%{opacity: 100%; }
}
/*slide ends*/


/*Styling the server information section. ;)*/

h1 {
	font: small-caps bolder 250% "Times New Roman", Arial, serif;
	margin-bottom: 3%;
	text-align: center;
	text-decoration: underline;
}
h2 {
	font: small-caps bolder 200% "Times New Roman", Arial, serif;
	margin-bottom: 2%;
}

p {
	font: lighter 110% "Times New Roman", Arial, serif;
	text-align: justify-all;
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
}

#intro, #server, #administration, #future {
	display: block;
	text-align: center;
	overflow: hidden;
	font-size: 1.2em;
	word-spacing: .2em;
	padding: 2% 0 2% 0;
	background: rgba(1,1,1,0.5);
	background: -webkit-linear-gradient(to bottom,#262626,#0d0d0d);
	background: -moz-linear-gradient(to bottom,#262626,#0d0d0d);
	background: -o-linear-gradient(to bottom,#262626,#0d0d0d);
	background: linear-gradient(to bottom,#262626,#0d0d0d);
}

#discord, #vcmp, #forum {
	display: block;
	text-align: center;
	overflow: hidden;
	font-size: 1.2em;
	word-spacing: .2em;
	padding: 2% 0 2% 0;
	margin: 2% 0 2% 0;
	background: rgba(1,1,1,0.5);
	color: #333333;
	background: -webkit-linear-gradient(to top, #808080,#cccccc);
	background: -moz-linear-gradient(to top, #808080,#cccccc);
	background: -o-linear-gradient(to top, #808080,#cccccc);
	background: linear-gradient(to top, #808080,#cccccc);

}

#discord a, #vcmp a, #forum a {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	padding: 1% 1%;
	margin-top: 2%;
	color: #ced2d6;
	border: 2px solid #000;
	background: rgba(1,1,1,0.5);
	background: -webkit-linear-gradient(to bottom,#262626,#0d0d0d);
	background: -moz-linear-gradient(to bottom,#262626,#0d0d0d);
	background: -o-linear-gradient(to bottom,#262626,#0d0d0d);
	background: linear-gradient(to bottom,#262626,#0d0d0d);
}


#discord a:hover, #vcmp a:hover, #forum a:hover{
	text-decoration: underline;
}

/*Styling the footer of the page.*/

footer {
	clear: both;
	background-color: rgba(1,1,1,0.8);
	text-align: center;
	margin: 10% 0 0 0;
	line-height: 2em;
	padding-top: 30px;
}

footer a {
	text-decoration: none;
	color: #ffa31a;
	font-style: italic;
}

footer .validator {
	padding-top: 1%;
}
